@media (min-width:769px) and (max-width:992px) {
    header {
        width: 100%;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 96%;
        height: 100%;
        min-height: 100%;
    }

    header nav a {
        margin: 15px;
        font-size: 14px;
    }

    header img {
        width: 180px;
    }

    header .titulo-texto {
        left: 41%;
        min-width: 400px;
        text-align: center;
        font-size: 15px;
        margin-left: 10px;
    }

    .titulo-texto p {
        font-size: 14px;
    }

    section {
        max-width: 790px;
    }

    section#sobre-mim p {
        font-size: 15px;
    }

    section#habilidades p {
        width: 150px;
        height: 200px;
        gap: 50px;
    }

    section h2 {
        font-size: 30px;
        margin-bottom: 50px;
    }

    section article.container {
        width: 600px;
        height: 300px;
    }

    .carrossel {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 250px;

    }

    section article img {
        width: 360px;
        height: 250px;

    }

    .button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 510px;
        max-width: 510px;
    }

    .btn-next,
    .btn-prev {
        font-size: 25px;
    }
    section .links a {
        font-size: 16px;
       padding: 5px;
       margin: 15px;
    }

    .aside p {
        font-size: 15px;
    }

    .aside .icons {
        top: -6px;
        left: -16px;
    }

    #github {
        top: -9px;
        left: -8px;
        width: 26px;
    }

    footer h3 {
        font-size: 22px;
    }

    footer p a img {
        width: 18px;
    }

    footer .direitos {
        font-size: 14px;
        margin-bottom: 50px;
    }
}

@media (min-width:993px) and (max-width:1200px) {


    header img {
        width: 200px;
    }
    header nav a {
    font-size: 16px;
}
    header .titulo-texto {
        font-size: 18px;
        margin-left: 10px;
    }
     header .titulo-texto p {
        font-size: 16px;
     }

    section#sobre-mim p {
        font-size: 20px;
    }
    
    section#habilidades p img{
        width: 130px;
        height: 130px;
    }
    section#habilidades p {
        width: 200px;
        height: 230px;
    }

    section h2 {
        font-size: 28px;
    }

    section#projetos p a {
        font-size: 14px;
        margin: 5px;
    }
    
    section article.container {
        width: 600px;
        height: 300px;
    }

    .carrossel {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 250px;

    }

    section article img {
        width: 360px;
        height: 250px;

    }

    .button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 510px;
        max-width: 510px;
    }

    .btn-next,
    .btn-prev {
        font-size: 25px;
    }
    section .links a {
        font-size: 16px;
       padding: 7px;
       margin: 15px;
    }

    .aside p {
        font-size: 17px;
    }

    .aside .icons {
        top: -7px;
        left: -25px;
        width: 27px;
    }

    #github {
        top: -8px;
        left: -12px;
        width: 27px;
    }

    footer h3 {
        font-size: 20px;
    }

    footer p a img {
        width: 17px;
    }

    footer .direitos {
        font-size: 13px;
        margin-bottom: 50px;
    }
}



@media (min-width:1201px) {
    

    header img {
        width: 350px;
      
       
    }
    header nav a {
    font-size: 18px;
}
    header .titulo-texto {
        font-size: 20px;
        margin-left: 10px;
    }
     header .titulo-texto p {
        font-size: 18px;
     }
     section#sobre-mim{
        max-width: 1500px;
     }
    section#sobre-mim p {
        font-size: 22px;
    }
    
    section#habilidades p img{
        width: 130px;
        height: 130px;
    }
    section#habilidades{
        max-width: 1500px;
        gap: 16%;
    }
    section#habilidades p {
        width: 200px;
        height: 250px;
        
       
       
    }

    section h2 {
        font-size: 30px;
        margin-bottom: 7%;
        justify-content: center;
        align-items: flex-start;
    }

    section#projetos p a {
        font-size: 14px;
        margin: 5px;
    }
    
    section article.container {
        width: 700px;
        height: 400px;
    }

    .carrossel {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 350px;

    }

    section article img {
        width: 460px;
        height: 260px;

    }

    .button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 610px;
        max-width: 610px;
    }

    .btn-next,
    .btn-prev {
        font-size: 27px;
    }
    section .links{
        text-align: center;
        width: 460px;

    }
    section .links a {
        font-size: 18px;
       padding: 9px;
       margin: 18px;
    }

    .aside p {
        text-align: center;
        font-size: 20px;
        margin: 0px 50px;
    }

    .aside .icons {
        top: -7px;
        left: -33px;
        width: 30px;
    }

    #github {
        top: -8px;
        left: -22px;
        width: 30px;
    }

    footer h3 {
        font-size: 25px;
        white-space: pre;
        transition-timing-function: ease-in-out;
    }

    footer p a img {
        width: 25px;
    }

    footer .direitos {
        font-size: 14px;
        margin-bottom: 50px;
    }
}
   